%h2.text-center 商品一覧
.container
  .row
    - @products.each do |product|
      .col-sm-6.col-md-3
        .card.img-thumbnail
          - if product.image.present?
            = image_tag product.image_url, :width => '200'
          - else
            = image_tag "sample.jpg", :width => '200'
          .card-body.px-2.py-3
            %h5.card-title= link_to "#{product.name}(#{product.display_price})", product
            %p.card-text= product.description