!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ramenwomen
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
      %a.navbar-brand{:href => "#"} はじめてのECサイト
      %button.navbar-toggler{"aria-controls" => "Navber", "aria-expanded" => "false", "aria-label" => "ナビゲーションの切替", "data-target" => "#Navber", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #Navber.collapse.navbar-collapse
        - if current_admin.present?
          %ul.navbar-nav.ml-auto
            %li.nav-item
              = link_to "Dashboard", admins_root_path, class: "nav-link"
            %li.nav-item
              = link_to "商品一覧", root_path, class: "nav-link"
            %li.nav-item
              = link_to "商品登録", new_admins_product_path, class: "nav-link"
            %li.nav-item
              = link_to "新規登録", new_user_registration_path, class: "nav-link"
            %li.nav-item
              = link_to "ログイン", new_user_session_path, class: "nav-link"
            %li.nav-item
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
            %li.nav-item
              = link_to "買い物かご", basket_path, class: "nav-link"
        - elsif current_user.present?
          %ul.navbar-nav.ml-auto
            %li.nav-item.active
              = link_to "商品一覧", root_path, class: "nav-link"
              %span.sr-only (現位置)
            %li.nav-item
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
            %li.nav-item
              = link_to "買い物かご", basket_path, class: "nav-link"
        - else
          %ul.navbar-nav.ml-auto
            %li.nav-item.active
              = link_to "商品一覧", root_path, class: "nav-link"
              %span.sr-only (現位置)
            %li.nav-item
              = link_to "新規登録", new_user_registration_path, class: "nav-link"
            %li.nav-item
              = link_to "ログイン", new_user_session_path, class: "nav-link"
        - if current_admin.present? && current_user.present?
          = "#{current_admin.email}（Admin）・#{current_user.email}(User)"
        - elsif current_admin.present?
          = "#{current_admin.email}（Admin）"
        - elsif current_user.present?
          = link_to "#{current_user.email}(User)", user_path(current_user)
    %p.notice= notice
    %p.alert= alert
    = yield
